{% extends 'base.twig' %}

{% block body %}
   <div class="main">
   	<div class="container" style="text-align: center;">
   		<h1 class="mb-5 mt-5">Blog</h1>
   		<div class="row" style="justify-content: center; margin-right: 50px; margin-left: 50px;">
   			{% include 'section/posts.twig' with posts %}
            {% include 'section/pagination.twig' %}
   		</div>
   	</div>
   </div>

{% endblock %}