{% extends 'base.twig' %}

{% block body %}
   <div class="main">
   	<div class="container" style="text-align: center;">
   		<h1 class="mb-5 mt-5">Hello, world!</h1>
   		<div class="row" style="justify-content: center;">
   			<div class="card mycartstyle" style="width: 18rem;">
				  <img src="https://dummyimage.com/320x200/0088ff/0011ff" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Card title</h5>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a href="#" class="btn btn-primary">Go somewhere</a>
				  </div>
				</div>
				<div class="card mycartstyle" style="width: 18rem;">
				  <img src="https://dummyimage.com/320x200/0088ff/0011ff" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Card title</h5>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a href="#" class="btn btn-primary">Go somewhere</a>
				  </div>
				</div>
				<div class="card mycartstyle" style="width: 18rem;">
				  <img src="https://dummyimage.com/320x200/0088ff/0011ff" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Card title</h5>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a href="#" class="btn btn-primary">Go somewhere</a>
				  </div>
				</div>
				<div class="card mycartstyle" style="width: 18rem;">
				  <img src="https://dummyimage.com/320x200/0088ff/0011ff" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Card title</h5>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a href="#" class="btn btn-primary">Go somewhere</a>
				  </div>
				</div>
				<div class="card mycartstyle" style="width: 18rem;">
				  <img src="https://dummyimage.com/320x200/0088ff/0011ff" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Card title</h5>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a href="#" class="btn btn-primary">Go somewhere</a>
				  </div>
				</div>
				<div class="card mycartstyle" style="width: 18rem;">
				  <img src="https://dummyimage.com/320x200/0088ff/0011ff" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Card title</h5>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a href="#" class="btn btn-primary">Go somewhere</a>
				  </div>
				</div>
   		</div>
   	</div>
   </div>

{% endblock %}