{% extends 'base.twig' %}

{% block body %}

<div class="container">
	<img src="https://dummyimage.com/1200x400/0088ff/0011ff" class="img-fluid" alt="...">
	<h1>{{ post.title|escape }}</h1>
	<div class="container mb-3">
		<div class="row">
			<span class="text-muted">Iordanov Dmitry | {{ post.published_date|date("F d, Y") }}</span>
		</div>
	</div>
	<div>
		{{ post.content|raw }}
	</div>
</div>

{% endblock %}